{% extends 'base.html' %} {% load static %} {% block title %} Blog | Usuários {% endblock title %} {% block scripts %}

<link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock scripts %} {% block body %} {% for u in posts %}

<br><br><br>

<div class="tudo">
<div class="bloquinho">
    <br><br>

   
    <center><p>{{u.texto}} </p></center>
    <div class="autor"> <p> - {{u.autor}} </p> </div>
    <center> <p> {{u.created_at}} </p> </center>

    <div class="btn-group btn-group-xs">
    <a href="{% url 'categorias:edit_categoria' u.categorias.id %}" class="btn btn-primary">Categoria: {{u.categorias}}</a>
    <a href="{% url 'categorias:del_categoria' u.categorias.id %}" class="btn btn-primary">Deletar Categoria</a>
    </div>
   
    <br>
   
    <div class="btn-group">
        <a href="{% url 'posts:update_post' u.id%}"  class="btn btn-primary"> Alterar Postagem</a>
        <a href="{% url 'posts:delete_post' u.id%}"  class="btn btn-primary"> Deletar Postagem</a>
    </div>



</div>
</div>

{% empty %}

<center><p>Sem Postagens :(</p></center> 
<div class="btn-group">
<a href="{% url 'posts:add_post' %}" class="btn btn-primary">Adicionar Postagem</a> 
</div>

{% endfor %}
{% endblock body %}