{% extends 'base.html' %} {% load static %} {% load widget_tweaks %} {% block title %} Blog | Criar Postagem {% endblock title %} {% block style %}

<link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock style %} {% block body %}
<br><br>
<form action="" method="post">
    {% csrf_token %}
    <div class="comentarios">{% render_field form.comentarios %}</div>
    <div class="comentarios">{% render_field form.posts %}</div>
    <input type="submit" value="Comentar">

</form>


{% endblock body %}