{% extends 'base.html' %} {% load static %} {% load widget_tweaks %} {% block title %} Blog | Editar {% endblock title %} {% block style %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
 {% endblock style %}

{% block body %}

<h3>Modificar Comentário</h3>
<form action='' method="post">
    {% csrf_token %}
    Comentário: <div class="comentarios">{% render_field form.comentarios %}</div>
    <button type="submit" class="btn btn-dark">Modificar</button>
</form>

{% endblock body %}